{% extends 'base/navigation.html' %}

{% block title %}Site Management | Project "Rhea"{% endblock title %}

		{% block content %}
			<section class="row">
				<div class="col-xs-12">
					<div id="management-simple" class="panel panel-inverse">
						<header class="panel-heading">
							<h4><i class="glyphicon glyphicon-cog"></i> Site Management</h4>
						</header>
						<section class="panel-body">
							<div class="col-md-10 col-md-offset-1">
								<div class="col-xs-4">
									<h1 class="text-center" style="font-size: 4em"><i class="glyphicon glyphicon-briefcase" title="Manage Academic Programs" style="color: #63A0FF"></i></h1>
									<p class="text-justify">
										Use this option to add, configure or
										otherwise manage existing academic
										programs at the institution, along
										with the subjects which compose them.
									</p>
									<br />
									<a href="{% url 'management:curricula:list' %}" class="btn btn-default btn-block">
										<i class="glyphicon glyphicon-arrow-right"></i> Manage Academic Programs
									</a>
								</div>
								<div class="col-xs-4">
									<h1 class="text-center" style="font-size: 4em"><i class="glyphicon glyphicon-user" title="Manage Students & Instructors" style="color: #7A5CC6"></i></h1>
									<p class="text-justify">
										Use this option to view and manage the
										student and instructor population at
										the institution: add new members and
										assign roles and responsibilities.
									</p>
									<br />
									<a href="" class="btn btn-default btn-block">
										<i class="glyphicon glyphicon-arrow-right"></i> Manage Students & Instructors
									</a>
								</div>
								<div class="col-xs-4">
									<h1 class="text-center" style="font-size: 4em"><i class="glyphicon glyphicon-calendar" title="Manage Schedule Generation" style="color: #C6305F"></i></h1>
									<p class="text-justify">
										Use this option to configure new
										schedule selection periods and/or edit
										the way in which the system manages
										schedule creation.
									</p>
									<br />
									<a href="" class="btn btn-default btn-block">
										<i class="glyphicon glyphicon-arrow-right"></i> Manage Schedule Generation
									</a>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>
			<section class="row">
				<div class="col-xs-4">
					<div class="panel panel-primary">
						<header class="panel-heading"><h4>Quick Actions</h4></header>
						<section class="panel-body">
							<ul id="quick-actions" class="list-group">
								<li class="list-group-item">
									<button type="button" class="btn btn-default btn-block">
										<i class="pull-left glyphicon glyphicon-file"></i> Generate Reports
									</button>
								</li>
								<li class="list-group-item">
									<button type="button" class="btn btn-default btn-block">
										<i class="pull-left glyphicon glyphicon-download-alt"></i> Full-site backup
									</button>
								</li>
							</ul>
						</section>
					</div>
				</div>
				<div class="col-xs-8">
					<div class="panel panel-default">
						<section class="panel-body">
							<p>{% lorem %}</p>
						</section>
					</div>
					<div class="panel panel-default">
						<section class="panel-body">
							<p>{% lorem %}</p>
						</section>
					</div>
					<div class="panel panel-default">
						<section class="panel-body">
							<p>{% lorem %}</p>
						</section>
					</div>
				</div>
			</section>
		{% endblock content %}
