{% load angular %}
<section id="program-view" class="row" ng-init="list.$init(rhea)">
	<div class="panel panel-default" ng-if="list.$subject !== false">
		<header class="panel-heading"><h3>Subject Details</h3></header>
		<section class="panel-body">
			<dl class="dl dl-horizontal">
				<dt>Subject Code</dt> <dd>{% ng list.$subject.code %}</dd>
				<dt>Subject Name</dt> <dd>{% ng list.$subject.name %}</dd>
				<dt>Est. Hours per Week</dt> <dd>{% ng list.$subject.hours %} hour{% ng (list.$subject.hours === 1) ? '' : 's' %}</dd>
			</dl>
			<h4>Used in Programs</h4>
			<table class="table table-striped table-hover">
				<thead><tr><th>#</th> <th>Acronym</th> <th>Program Name</th> <th>Dependencies</th></tr></thead>
				<tbody>
					<tr ng-repeat="program in list.$subject.programs">
						<td class="form-control-static">{% ng $offset + ($index + 1) %}</td>
						<td class="form-control-static">
							<a href="#/program/{% ng program.acronym %}/">
								<span class="badge"><strong>{% ng program.acronym | uppercase %}</strong></span>
							</a>
						</td>
						<td class="form-control-static">{% ng program.name %}</td>
						<td>
							<ul class="list-unstyled list-inline" ng-if="program.dependencies.length">
								<li ng-repeat="s in program.dependencies">
									<a href="#/subject/{% ng s.code %}/">
										<span class="badge"><strong>{% ng s.code | uppercase %}</strong></span>
									</a>
								</li>
							</ul>
							<span ng-if="!(program.dependencies.length)">This subject has no dependencies</span>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
	<div class="panel panel-primary">
		<header class="panel-heading"><h3 style="color: white">Available Subjects</h3></header>
		<section class="panel-body">
			<paginator data="list.list(rhea.$user.id, size, page)" size="15">
				<table class="table table-striped table-hover">
					<thead><tr><th>#</th> <th style="width: 214px">Code</th> <th style="width: 766px">Subject Name</th> <th style="width: 90px">Actions</th></tr></thead>
					<tbody>
						<tr ng-repeat="subject in entries">
							<td class="form-control-static">{% ng $offset + ($index + 1) %}</td>
							<td class="form-control-static">
								<a href="#/subject/{% ng subject.code %}/">
									<span class="badge"><strong>{% ng subject.code | uppercase %}</strong></span>
								</a>
							</td>
							<td class="form-control-static">{% ng subject.name %}</td>
							<td>
								<a href="#/subject/{% ng subject.code %}/" class="btn btn-default btn-sm">
									<i class="glyphicon glyphicon-eye-open" style="margin-right: 15px"></i> View
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</paginator>
		</section>
	</div>
</section>
