
.footer
	position: absolute
	bottom: 0
	width: 100%
	min-height: $navbar-height
	margin-top: $navbar-margin-bottom
	border: 1px solid transparent
	padding-top: 1em

	@include clearfix

.footer-fixed
	position: fixed

.footer-default
	background-color: $navbar-default-bg
	border-color: $navbar-default-border

.footer-inverse
	background-color: $navbar-inverse-bg
	border-color: $navbar-inverse-border

.navbar-secondary
	width: 100%
	background-color: $breadcrumb-bg
	border: solid darken($breadcrumb-bg, 5%)
	@include shadow()

	& .navbar-nav
		width: 100%

		li > a
			line-height: $line-height-computed / 2

dl.dl-phased
	dd
		margin-left: 42px
