{% extends 'base/navigation.html' %}
{% load widget_tweaks %}

{% block title %}Create new Academic Program | Project "Rhea"{% endblock title %}
		{% block js %}
			System.import('rhea/manage/program_create.js');{% endblock js %}

		{% block content %}
			<form action="{% url 'management:curricula:create' %}" method="post" ng-controller="Rhea as rheactrl">
				{% csrf_token %}
				<section class="row">
					<div class="col-xs-12">
						<div class="panel panel-primary">
							<header class="panel-heading">
								<h4><i class="glyphicon glyphicon-briefcase"></i> Create new Academic Program</h4>
							</header>
							<section class="panel-body">
								<div class="col-md-10 col-md-offset-1 ng-cloak">
									<ul class="list-group">
										<li class="list-group-item">
											<div class="input-group{% if program.name.errors %} has-error{% endif %}"{% if program.name.errors %} ng-class="{ true: 'has-error' }[data.name === undefined]"{% endif %}>
												<span class="input-group-addon" ng-if="!data.name || data.name === undefined">
													<i class="glyphicon glyphicon-asterisk"></i>
												</span>
												<span class="input-group-addon" style="color: #FF9312" ng-if="data.name && data.name.length <= 4">
													<i class="glyphicon glyphicon-alert"></i>
												</span>
												<span class="input-group-addon" style="color: #4D9A22" ng-if="data.name && data.name.length > 4">
													<i class="glyphicon glyphicon-ok"></i>
												</span>
												{% render_field program.name class='form-control' ng-model='data.name' ng-initial='' %}
											</div>
										</li>
										<li class="list-group-item">
											<div class="input-group{% if program.acronym.errors %} has-error{% endif %}"{% if program.acronym.errors %} ng-class="{ true: 'has-error' }[data.acronym === undefined]"{% endif %}>
												<span class="input-group-addon" ng-if="!data.acronym || data.acronym === undefined">
													<i class="glyphicon glyphicon-asterisk"></i>
												</span>
												<span class="input-group-addon" style="color: #FF9312" ng-if="data.acronym && data.acronym.length <= 1">
													<i class="glyphicon glyphicon-alert"></i>
												</span>
												<span class="input-group-addon" style="color: #4D9A22" ng-if="data.acronym && data.acronym.length > 1">
													<i class="glyphicon glyphicon-ok"></i>
												</span>
												{% render_field program.acronym class='form-control' ng-model='data.acronym' ng-initial='' %}
											</div>
										</li>
										<li class="list-group-item">
											{% render_field program.description class='form-control' rows='3' %}
										</li>
									</ul>
								</div>
							</section>
						</div>
					</div>
				</section>
				<section class="row" style="margin-bottom: 74px">
					<div class="col-sm-4 col-sm-offset-4 text-center">
						<button type="submit" class="btn btn-success" style="width: 128px"><i class="glyphicon glyphicon-send pull-left"></i> Submit</button>
					</div>
				</section>
			</form>
		{% endblock content %}
