{% extends 'base/navigation.html' %}

{% block title %}Manage Academic Programs | Project "Rhea"{% endblock title %}
		{% block js %}
			System.import('rhea/manage/program_list.js');{% endblock js %}

		{% block content %}
			<section class="row" ng-controller="Rhea as rheactrl">
				<div class="col-md-4 col-md-push-8">
					<div class="panel panel-primary">
						<header class="panel-heading"><h4>Quick Actions</h4></header>
						<section class="panel-body">
							<ul id="quick-actions" class="list-group">
								<li class="list-group-item">
									<a href="{% url 'management:curricula:create' %}" class="btn btn-default btn-block">
										<i class="pull-left glyphicon glyphicon-plus-sign"></i> Add new academic program
									</a>
								</li>
								<li class="list-group-item">
									<a href="{% url 'management:subjects:create' %}" class="btn btn-default btn-block">
										<i class="pull-left glyphicon glyphicon-plus-sign"></i> Add new subject
									</a>
								</li>
								<li class="list-group-item">
									<a class="btn btn-default btn-block disabled">
										<i class="pull-left glyphicon glyphicon-download-alt"></i> Backup academic programs
									</a>
								</li>
							</ul>
						</section>
					</div>
				</div>
				<div class="col-md-8 col-md-pull-4">
					<div class="panel panel-inverse">
						<header class="panel-heading"><h4>Academic Programs</h4></header>
						<section class="panel-body ng-cloak">
							<p class="text-center" ng-if="rheactrl.programs.length === 0">
								<i class="glyphicon glyphicon-education" style="font-size: 64pt"></i><br /><br />
								There are currently no academic program registered.
							</p>
							<table class="table table-striped table-hover" ng-if="rheactrl.programs.length > 0">
								<thead>
									<tr><th>#</th> <th>Acronym</th> <th>Program Name</th> <th style="min-width: 250px; max-width: 250px">Description</th> <th style="width: 90px">Actions</th></tr>
								</thead>
								<tbody>
									<tr ng-repeat="e in rheactrl.programs.entries">{% verbatim %}
										<td>{{ $index + 1 }}</td>
										<td>{{ e.acronym }}</td>
										<td>{{ e.name }}</td>
										<td>{{ e.description || 'No description available' }}</td>
										<td>
											<span class="btn-group">
												<a href="{{ e.url }}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
												<a class="btn btn-default btn-sm" style="cursor: pointer"><i class="glyphicon glyphicon-remove"></i></a>
											</span>
										</td>{% endverbatim %}
									</tr>
								</tbody>
							</table>
						</section>
					</div>
					<div class="panel panel-inverse">
						<header class="panel-heading"><h4>Subjects</h4></header>
						<section class="panel-body ng-cloak">
							<p class="text-center" ng-if="rheactrl.subjects.length === 0">
								<i class="glyphicon glyphicon-blackboard" style="font-size: 64pt"></i><br /><br />
								There are currently no subjects registered.
							</p>
							<table class="table table-striped table-hover" ng-if="rheactrl.subjects.length > 0">
								<thead>
									<tr><th>#</th> <th style="width: 146px; max-width: 146px">Subject Code</th> <th style="width: 456px; max-width: 456px">Subject Name</th> <th>Actions</th></tr>
								</thead>
								<tbody>
									<tr ng-repeat="e in rheactrl.subjects.entries">{% verbatim %}
										<td>{{ $index + 1 }}</td>
										<td><kbd class="subject-tag">{{ e.code }}</kbd></td>
										<td>{{ e.name }}</td>
										<td>
											<span class="btn-group">
												<a href="{{ e.url }}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
												<a class="btn btn-default btn-sm" style="cursor: pointer"><i class="glyphicon glyphicon-remove"></i></a>
											</span>
										</td>{% endverbatim %}
									</tr>
								</tbody>
							</table>
						</section>
					</div>
				</div>
			</section>
		{% endblock content %}
