<!DOCTYPE html>
<html lang="en-us">
	<head>{% load static %}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{% block title %}{% endblock title %}</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />

		<script src="{% static 'js/jquery.min.js' %}" async></script>
		<script src="{% static 'js/bootstrap.min.js' %}" async></script>{% block scripts %}{% endblock scripts %}
	</head>
	<body>
		<nav id="navigation" class="navbar-navbar-default navbar-fixed-top">
			<header class="navbar-header">
				{% block navigation %}{% endblock navigation %}
			</header>
		</nav>
		<main id="content" class="container">
			{% block content %}{% endblock content %}
		</main>
		<footer id="footer" class="footer footer-inverse">
			<div class="container">
				...
			</div>
		</footer>
	</body>
</html>