<!DOCTYPE html>
<html lang="en-us">
	<head>{% load static %}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{% block title %}{% endblock title %}</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />

		<script src="{% static 'js/jquery.min.js' %}" defer></script>
		<script src="{% static 'js/bootstrap.min.js' %}" defer></script>{% block scripts %}{% endblock scripts %}
	</head>
	<body>
		{% block navigation %}<nav id="navigation" class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">{% block primary-nav %}{% endblock primary-nav %}</div>{% block secondary-nav %}{% endblock secondary-nav %}
		</nav>{% endblock navigation %}
		<main id="content" class="container">{% block content %}{% endblock content %}</main>
		<footer id="footer" class="footer footer-fixed footer-inverse">
			<div class="container">
				<span class="pull-left"><strong>Project "Rhea"</strong> | Timetable Manager</span>
				<span class="pull-right">Copyright &copy; 2016</span>
			</div>
		</footer>
	</body>
</html>