{% extends 'base/base.html' %}
{% load static i18n permissions %}

			{% block primary-nav %}
				<header class="navbar-header" style="width: 100%; margin-left: 5px">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-menu">
						<i class="glyphicon glyphicon-menu-hamburger"></i>
					</button>
					<div id="navigation-menu" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="{% url 'user:view' user.user_id %}">Home</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right" style="margin-right: 5px">{% if user|has_role:'administrator' %}
							<li><a href="#">Manage</a></li>{% endif %}
							<li><a href="{% url 'accounts:logout' %}">Logout</a></li>
						</ul>
					</div>
				</header>
			{% endblock primary-nav %}
